<div class="peril-wash"></div>
<div class="peril-watermark">PERIL</div>

<div class="peril-slash peril-slash-a"></div>
<div class="peril-slash peril-slash-b"></div>

<div class="peril-dot-pair peril-dot-pair-l"><span></span><span></span><span></span></div>
<div class="peril-dot-pair peril-dot-pair-r"><span></span><span></span><span></span></div>

<div class="peril-run peril-line-t">
  <div class="peril-run-track">
    <span>{{runTop}}</span>
    <span>{{runTop}}</span>
  </div>
</div>
<div class="peril-run peril-line-b">
  <div class="peril-run-track peril-run-track-rev">
    <span>{{runBottom}}</span>
    <span>{{runBottom}}</span>
  </div>
</div>

<div class="peril-vcol peril-vcol-l">
  <div class="peril-vcol-track">
    <span>{{columnLeft}}</span>
    <span>{{columnLeft}}</span>
  </div>
</div>
<div class="peril-vcol peril-vcol-r">
  <div class="peril-vcol-track peril-vcol-track-rev">
    <span>{{columnRight}}</span>
    <span>{{columnRight}}</span>
  </div>
</div>

<div class="peril-flash-stage">
  <span class="peril-l">D</span>
  <span class="peril-l">I</span>
  <span class="peril-l">R</span>
  <span class="peril-l">E</span>
  <span class="peril-l">P</span>
  <span class="peril-l">E</span>
  <span class="peril-l">R</span>
  <span class="peril-l">I</span>
  <span class="peril-l">L</span>
</div>

<div class="peril-impact"></div>

<div class="peril-title">
  <div class="peril-tag">{{tag}}</div>
  <div class="peril-word-dire">{{wordDire}}</div>
  <div class="peril-rule"></div>
  <div class="peril-word-peril">{{wordPeril}}</div>
  <div class="peril-sub">{{subtitle}}</div>
</div>
