<div class="peril-wash"></div>

<div class="peril-repeat-grid" aria-hidden="true">
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
  <div class="peril-repeat-row"><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span><span>DIRE PERIL</span></div>
</div>

<div class="peril-pre-flash" aria-hidden="true">
  <span class="pf pf-1">DIRE PERIL</span>
  <span class="pf pf-2">DIRE PERIL</span>
  <span class="pf pf-3">DIRE PERIL</span>
  <span class="pf pf-4">DIRE PERIL</span>
  <span class="pf pf-5">DIRE PERIL</span>
  <span class="pf pf-6">DIRE PERIL</span>
  <span class="pf pf-7">DIRE PERIL</span>
  <span class="pf pf-8">DIRE PERIL</span>
  <span class="pf pf-9">DIRE PERIL</span>
  <span class="pf pf-10">DIRE PERIL</span>
  <span class="pf pf-11">DIRE PERIL</span>
  <span class="pf pf-12">DIRE PERIL</span>
  <span class="pf pf-13">DIRE PERIL</span>
  <span class="pf pf-14">DIRE PERIL</span>
</div>

<div class="peril-watermark" data-text="PERIL">PERIL</div>

<div class="peril-slash peril-slash-a"></div>
<div class="peril-slash peril-slash-b"></div>

<div class="peril-glitch" aria-hidden="true">
  <i></i><i></i><i></i><i></i><i></i>
</div>

<div class="peril-dot-pair peril-dot-pair-l"><span></span><span></span><span></span></div>
<div class="peril-dot-pair peril-dot-pair-r"><span></span><span></span><span></span></div>

<div class="peril-run peril-line-t">
  <div class="peril-run-track">
    <span>{{runTop}}</span>
    <span>{{runTop}}</span>
  </div>
</div>
<div class="peril-run peril-line-b">
  <div class="peril-run-track peril-run-track-rev">
    <span>{{runBottom}}</span>
    <span>{{runBottom}}</span>
  </div>
</div>

<div class="peril-vcol peril-vcol-l">
  <div class="peril-vcol-track">
    <span>{{columnLeft}}</span>
    <span>{{columnLeft}}</span>
  </div>
</div>
<div class="peril-vcol peril-vcol-r">
  <div class="peril-vcol-track peril-vcol-track-rev">
    <span>{{columnRight}}</span>
    <span>{{columnRight}}</span>
  </div>
</div>

<div class="peril-flash-stage">
  <span class="peril-l">D</span>
  <span class="peril-l">I</span>
  <span class="peril-l">R</span>
  <span class="peril-l">E</span>
  <span class="peril-l">P</span>
  <span class="peril-l">E</span>
  <span class="peril-l">R</span>
  <span class="peril-l">I</span>
  <span class="peril-l">L</span>
</div>

<div class="peril-impact"></div>

<div class="peril-frame" aria-hidden="true">
  <span class="fc fc-tl"></span>
  <span class="fc fc-tr"></span>
  <span class="fc fc-bl"></span>
  <span class="fc fc-br"></span>
  <span class="fe fe-t"></span>
  <span class="fe fe-b"></span>
</div>

<div class="peril-reticle" aria-hidden="true">
  <span class="rh"></span>
  <span class="rv"></span>
  <span class="rd"></span>
</div>

<div class="peril-title">
  <div class="peril-tag">{{tag}}</div>
  <div class="peril-word-dire">{{wordDire}}</div>
  <div class="peril-rule"></div>
  <div class="peril-word-peril">{{wordPeril}}</div>
  <div class="peril-sub">{{subtitle}}</div>
</div>
